<main class="container">
  <section class=" containerInfo">
    <%= image_tag("iconos/artesanos", class: "icon_logo_title") %>
    <h1 class=" containerInfo__titulo">Artesanos</h1>
    <%# <a class=" containerInfo__boton" href="artesanos/new">Nuevo</a> %>
    <div class="icon_nuevo">
      <%= link_to "artesanos/new" do %>
        <span>Nuevo</span>
        <%= image_tag("iconos/mas", class: "icon_mas") %>
      <% end %>
    </div>
  </section>

  <section class="containerTable">
    <table>
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apelldio</th>
          <th>Segundo Apellido</th>
          <th>Telefono</th>
          <th colspan="3">Acción</th>
        </tr>
      </thead>
      <tbody>
        <%= render @artesanos%>
      </tbody>
    </table>
  </section>

</main>