<tr>
  <td data-label="Referencia", class="centrar blue">
    <%= category.tipo_categoria %>
  </td>

  
  <td data-label="Accion" class="botones blue">
    <%= link_to edit_category_url(category) do %>
      <%# image_tag("iconos/editar", class:"icon_accion") %>
      <button class="editar">Editar</button>
    <% end %>
    <%= button_to "Eliminar",category_path(category), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar esta categoria?')" %>   
  </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>