<div class="izq">
    <table>
        <thead>
            <tr >
                <th class="odd" colspan="3 " >Nombre de la materia prima</th>
            </tr>
        </thead>
        <tbody>
            <%= render @materials%>
        </tbody>
    </table>
</div>
<a href="materials/new">Crear</a>