/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ESTILOS GENERALES: APPLICATION */

:root {
  /* COLORES MODO DARK */
/*   --width: 200px;
  --padding: 10px;
  --bgcolor: rgb(52, 52, 52);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
  --color: #fff; */
    /* COLORES MODO LIGHT */
    --width: 200px;
    --padding: 10px;
    --bgcolor: rgb(235, 235, 235);
    --hovercolor: #F5B041;
    --width-collapsed: 50px;
    --color: #ffa500;
    --color-black: #000;

    --fuentePrincipal: 'Open Sans';
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--fuentePrincipal);
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: var(--width-collapsed);
}

main {
  max-height: 100%;
  border: 1px solid green;
}

/* BODY CON MENU LATERAL ABIERTO */

.body-expanded {
  margin-left: var(--width);
}

#sidemenu {
  background-color: var(--bgcolor);
  border: 1px solid var(--hovercolor);
  color: var(--color);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  /* overflow-y: hidden; */
}

#sidemenu::-webkit-scrollbar {
  -webkit-appearance: none;
}

#sidemenu::-webkit-scrollbar:vertical {
  width: 0px;
}

/* ******** */

#sidemenu a {
  color: var(--color-black);
  text-decoration: none;
}


/* NAV */

nav {
  background-color: var(--bgcolor);
  border: 1px solid var(--hovercolor);
  margin-top: -18px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.logo {
  height: 50px;
  width: 190px;
  margin-left: -5px;
  margin-top: 4px;
}

#sismu__central {
  color: var(--color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
 
}
#sismu__central>span {
  text-shadow: 0 0 30px red;
  
  
}

/* CABECERA_MENU LATERAL */

#sidemenu #header_menu {
  box-sizing: border-box;
  border-bottom: solid 1px var(--hovercolor);
  margin-top: 4px;
}

#sidemenu #header_menu #title_menu {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemenu #header_menu #title_menu,
#sidemenu #header_menu #menu_btn {
  vertical-align: middle;
}

#sidemenu #header_menu #menu_btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}

#sidemenu #header_menu #menu_btn:hover {
  background-color: var(--hovercolor);
}

#sidemenu #header_menu #menu_btn .btn_hamburguesa {
  background-color: #ffa500;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}


/* PERFIL_MENU LATERAL */

#sidemenu #perfil_menu {
  background-color: #fff;
  border-bottom: solid 1px var(--hovercolor);
  padding: var(--padding) 0;
  text-align: center;
}

#sidemenu #perfil_menu #foto_menu {
  box-sizing: border-box;
  padding: var(--padding);
  overflow: hidden;
  margin: 0 auto;
}

#sidemenu #perfil_menu #foto_menu img {
  width: 80%;
  border-radius: 10px;
  border: 1px solid var(--hovercolor);
}


/* ITEM_MENU LATERAL */

#sidemenu #menu_items {
  overflow: hidden;
}

#sidemenu #menu_items .item_menu {
  width: var(--width);
}

#sidemenu #menu_items .item_menu .icon_menu {
  display: inline-block;
}

#sidemenu #menu_items .item_menu .icon_menu,
#sidemenu #menu_items .item_menu .title_icon_menu {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu_items .item_menu a {
  display: block;
}

#sidemenu #menu_items .item_menu a:hover {
  background-color: var(--hovercolor);
}

#sidemenu #menu_items .item_menu .icon_menu {
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--width-collapsed);
}

#sidemenu #menu_items .item_menu .icon_menu img {
  width: 100%;
}

#sidemenu #menu_items .item_menu .title_icon_menu {
  padding: var(--padding) 0;
}

#sidemenu #menu_items .item_menu.separador_menu {
  height: 1px;
  border-bottom: solid 1px var(--hovercolor);
  margin: 5px 0;
}


/* MENU EXPANDED LATERAL */

.menu_expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu_expanded #header_menu #title_menu {
  display: inline-block;
  width: calc(99% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}

.menu_expanded #header_menu #title_menu span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
  padding: var(--padding);
}

.menu_expanded #perfil_menu #foto_menu {
  width: 200px;
}

.menu_collapsed {
  width: var(--width-collapsed);
}

.menu_collapsed #header_menu #title_menu {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/* ESTILOS UNICOS */
.btn_borrar {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* SALIR */

.minilogo_pequeño {
  height: 15px;
}

.btn__salir {
  cursor: pointer;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
}

.salir {
  color: #000;
}


/* FOOTER */

footer {
  border: 2px solid var(--hovercolor);
  background-color: var(--bgcolor);
  width: 99.6%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

footer p {
  color: var(--color);
}