/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ESTILOS GENERALES: APPLICATION */

:root {

  /* COLORES MODO DARK */

/*   --width: 200px;
  --padding: 10px;
  --bgcolor: rgb(52, 52, 52);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
  --color: #fff; 

    /* COLORES MODO LIGHT */
    --width: 200px;
    --padding: 10px;
    /* --bgcolor: rgb(235, 235, 235); */
    --bgcolor: #303030;
    --hovercolor: #F5B041;
    --width-collapsed: 50px;
    /* --colorOscuro: #c40505; */
    --fondoMain: #EBF0F4;
    /* --fondoMainNocturno: #2A3A47; */
    --colorOscuro: #eb7f26;
    --colorMedio: #fabc0b;
    --colorBajo: #ffb109;
    --color-black: #000;

    --fuentePrincipal: 'Open Sans';
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: var(--fondoMain);
  font-family: var(--fuentePrincipal);
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: var(--width-collapsed);
  
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.main_index {
  /* max-height: 100%; */
  /* border: 1px solid green;  */
  margin-top: 0%;
  
  /* margin: -50px auto 50px auto; */
  /* margin-top: -5%; */
}

a {
  text-decoration: none;
}

.alertas {
  position: absolute;
  background-color: grey;
  /* font-size: 16px;
  border-radius: 10px;
  width: 20%;
  min-height: 500px;
  margin: 0px auto 50px auto;
  margin-top: 50px;
  padding-bottom: 30px;
  overflow: auto; */
}

/* BODY CON MENU LATERAL ABIERTO */

.body-expanded {
  margin-left: var(--width);
}

#sidemenu {
  background-color: var(--bgcolor);
  /* border: 1px solid var(--hovercolor); */
  color: var(--color);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  /* overflow-y: hidden; */
}

#sidemenu::-webkit-scrollbar {
  -webkit-appearance: none;
}

#sidemenu::-webkit-scrollbar:vertical {
  width: 0px;
}

/* ******** */

#sidemenu a {
  color: var(--color-black);
  text-decoration: none;
}


/* NAV */

nav {
  background-color: white;
  /* margin-top: -18px; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.logo {
  height: 50px;
  width: 190px;
  margin-left: -5px;
  margin-top: 4px;
}

#sismu__central {
  color: #eb7f26;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

/* CABECERA_MENU LATERAL */

#sidemenu #header_menu {
  box-sizing: border-box;
  /* border-bottom: solid 1px var(--hovercolor); */
  margin-top: 4px;
}

#sidemenu #header_menu #title_menu {
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

#sidemenu #header_menu #title_menu,
#sidemenu #header_menu #menu_btn {
  vertical-align: middle;
}

#sidemenu #header_menu #menu_btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}

#sidemenu #header_menu #menu_btn:hover {
  background-color: var(--colorOscuro);
}

#sidemenu #header_menu #menu_btn .btn_hamburguesa {
  /* background-color: #ffa500; */
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}


/* PERFIL_MENU LATERAL */

#sidemenu #perfil_menu {
  background-color: #fff;
  border-bottom: solid 1px var(--hovercolor);
  padding: var(--padding) 0;
  text-align: center;
}

#sidemenu #perfil_menu #foto_menu {
  box-sizing: border-box;
  padding: var(--padding);
  overflow: hidden;
  margin: 0 auto;
}

#sidemenu #perfil_menu #foto_menu img {
  width: 80%;
  border-radius: 10px;
  border: 1px solid var(--hovercolor);
}


/* ITEM_MENU LATERAL */

#sidemenu #menu_items {
  overflow: hidden;
}

#sidemenu #menu_items .item_menu {
  width: var(--width);
}

#sidemenu #menu_items .item_menu .icon_menu {
  display: inline-block;
}

#sidemenu #menu_items .item_menu .icon_menu,
#sidemenu #menu_items .item_menu .title_icon_menu {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu_items .item_menu a {
  display: block;
}

#sidemenu #menu_items .item_menu a:hover {
  background-color: var(--colorOscuro);
}

#sidemenu #menu_items .item_menu .icon_menu {
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--width-collapsed);
}

#sidemenu #menu_items .item_menu .icon_menu img {
  width: 100%;
}

#sidemenu #menu_items .item_menu .title_icon_menu {
  padding: var(--padding) 0;
  color: #fff;
}

#sidemenu #menu_items .item_menu.separador_menu {
  height: 1px;
  border-bottom: solid 1px var(--hovercolor);
  margin: 5px 0;
}


/* MENU EXPANDED LATERAL */

.menu_expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu_expanded #header_menu #title_menu {
  display: inline-block;
  width: calc(99% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}

.menu_expanded #header_menu #title_menu span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
  padding: var(--padding);
}

.menu_expanded #perfil_menu #foto_menu {
  width: 200px;
}

.menu_collapsed {
  width: var(--width-collapsed);
}

.menu_collapsed #header_menu #title_menu {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/* ***** */

/* ul.nav {
  margin-bottom: 25px;
}
	
li a {
  display: block;
  position: relative;
  padding-left: 50px;
  font-size: 0.875rem; 
  font-weight: 400px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #467193;
}
li a:hover {
  color: transparentize(#b9ccdc, 0.2);
  background: none;
}

li a:focus {
  background: none;
}

svg {
  position: absolute(50%,15px,null,null);
  width: 20px;
  height: 20px;
  fill: currentColor;
  /* +translate(0,-50%) *
}
    
.lnr-star {
  margin-top: -1px;		/* adjuster *
}
  
span {

  display: block;
  /* +absolute(50%,15px,null,null); *
  width: 20px;
  height: 20px;
  margin-left: -1px;	/* adjuster *
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.1rem;
    /* +translate(0,-50%); *
}

li.active a {
  color: transparentize(#b9ccdc, 0.2);
  background: transparentize(#b9ccdc, 0.9);
}
 */
/* ******* */

/* ESTILOS UNICOS */
.btn_borrar {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* LOGIN */

.section_login {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

 /* ESTILOS DEL MENU PERFÍL */
 * {
  margin:0px;
  padding:0px;
}

#header_select {
  margin-top: -40px;
  border: 1px solid red;
  font-family:Arial, Helvetica, sans-serif;
}

/* SELECT PERFIL */

.img_perfil {
  height: 40px;
  /* border: 1px solid red; */
  border-radius: 20px;
  cursor: pointer;
  /* width: 20px; */
}
.img_perfil:hover {
  transform: scale(1.1);
}

ul>li>ul>li {
  border: 1px solid #000;
  border-bottom-left-radius: 5px;
}

#header_select ul {
  list-style:none;
  position: absolute;
  margin-left: -61px;
  /* margin-top: -20px; */
/*   margin: 0;
  padding: 0; */
}

#header_select li a {
  display: block;
  /* background-color: var(--hovercolor); */
  background-color: var(--colorOscuro);
  color: #fff;
  text-decoration: none;
  padding: 10px;
  /* background-color: #fff; */
  text-transform: capitalize;
  /* letter-spacing: 1px; */
  min-width: 100px;
}

#header_select li a:hover {
  /* background-color: var(--colorOscuro); */
  background-color: var(--hovercolor);
  color: #000;
}

#header_select li{
  /* float: left; */
  text-align:center
}

#header_select li ul{
  display: none;
}

#header_select li:hover ul {
  display:block;
}

/* ******** */

/* SALIR */

.minilogo_pequeño {
  height: 15px;
}

.btn__login {
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.btn__login:hover {background-color: rgb(173, 166, 166)}

.btn__login:active {
  background-color: rgb(224, 201, 201);
  box-shadow: 0 5px rgb(122, 120, 120);
  transform: translateY(3px);
}
.btn__salir {
  cursor: pointer;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.btn__salir:hover {background-color: rgb(172, 13, 13)}

.btn__salir:active {
  background-color: red;
  box-shadow: 0 5px rgb(192, 47, 47);
  transform: translateY(3px);
}

.salir {
  color: #000;
}


/* FOOTER */

footer {
  /* border: 2px solid var(--hovercolor); */
  background-color: var(--bgcolor);
  width: 100%;
  height: 40px;
  text-align: center;
  bottom: 0; 
  padding: 10px;
  /* position: absolute; */
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
}

/* body>footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
} */

footer p {
  color: var(--fondoMain);
}

/* @media (max-width: 1080px) {
  footer {
    height: 70px;
  }
} */

/* .... */


/* estilos del paginate */

.digg_pagination {
  background: white;
  cursor: default;
  margin-left: 50px;
  margin-top: 30px;
  }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  /* .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; } */

      .alerts {
      display: flex;
      justify-content: center;
      border: solid 1px red;

    }

    .notice {
      margin-top: 6px;
      color: #2BDC63;
      border-radius: 5px;
      /* height: 20px; */
      padding-top: 10px;
    }

    .alert {
      margin-left: -50px;
      color: #F90303;
      border-radius: 5px;
      /* height: 20px;
      padding-top: 10px; */
      position: relative;
      z-index: 3;
      display: block;
      /* margin-left: 40%; */
      /* border: 1px solid red; */
      text-align: center;
    }