/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Estilos GENERALES */


/* Estilos DIVISE */

.login {
  margin: 0;
  padding: 20px;
  display: flex;
  background-size: cover;
  font-family: sans-serif;
}

.containerDevise {
  width: 520px;
  height: 420px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: 440px;
  opacity: 0.9;
  box-shadow: 3px 7px 20px rgb(66, 66, 66)
}

.containerDevise .field {
  margin-top: 20px;
  font-weight: bold;
  display: block;
}

.containerDevise .field .field__input {
  margin: 2px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.containerDevise__boton {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(245, 148, 23);
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 100px;
  background: rgb(245, 148, 23);
  border-radius: 20px;
  color: white;
}

.containerDevise__boton:active {
  background: red;
}

a {
  color: black;
  text-decoration: none;
}