:root {
  --aguaMarinaOscuro: #009C8C;
  --aguaMarinaFuerteHover: #119F90;
  --aguaMarinaFuerte1: #159184;
  --aguaMarinaMedio: #04B7A4;
  --aguaMarinaClaro: #6FDDD1;
}

/* .container-artesano{
    text-align: center;
    margin-top: -150px;
}
.artesano_text{
    text-align: center;
    color: #F5B041;
}
.formulario_artesano{
    text-align: center;

    width: 470px ;
    padding: 10px;
    margin-left: 33%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.input_artesano{
    margin-left: 30px;
}
.label_artesano2{
    margin-left: 100px;

}
.label_artesano3{
    margin-left: 25px;
    
}
.label_artesano1{
    margin-left: 105px;
}
.artesano_boton{
    background-color: #F5B041;
    border-radius: 5px;
    text-align: center;
} */

/* nuevos estilos v1.2 */

.artesanosTable {
  font-size: 16px; /*1rem = 10px*/
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

.artesanosTable table {
  width: 100%;
  border-collapse: collapse;
}

.artesanosTable th, td {
  border: 1px solid #ddd;
  padding: 12px 15px; 
  text-align: center;

}

.artesanosTable th {
  border: 1px solid #04B7A4;
  background-color: var(--aguaMarinaOscuro) ;
  color: #fff;
}


.artesanosTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.artesanosTable tr:nth-child(even){
  background-color: #F5F5F5;
}

.artesanos__titulo{
  /* border: 1px solid red; */
  color: var(--aguaMarinaOscuro);
  font-size: 3.2rem;
  width: 200px;
  margin-left: -150px;
}


/* botones */

.artesanos__nuevo {
    font-weight: bold;
    width: 8rem;
    height: 4rem;
    border: 1px solid var(--aguaMarinaOscuro) ;;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--aguaMarinaMedio);
    
  }
  
  .artesanos__nuevo:active {
    font-weight: bold;
    width: 8rem;
    height: 4rem;
    border: 3px solid var(--aguaMarinaClaro);
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--aguaMarinaFuerte1);
  }
  
  .artesanos__nuevo:hover {
    background-color: var(--aguaMarinaFuerteHover);
  }

/* BUSCADOR  */

.buscador_artesanos {
  /* height: 10rem; */
  /* width: 280px; */
  min-width: 300px;
  max-width: 300px;
}

.logoBuscar_artesanos {
  height: 3rem;
}

.prueba_artesanos input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid var(--aguaMarinaFuerte1);
  transition: all .7s ease;
  float: left;
  margin-top: 10px;
}

.prueba_artesanos::placeholder {
  color: gray;

}

.btn_buscar_artesanos {
  /* position: absolute; */
  /* margin-left: 50rem; */
  /* right: 0;
  top: 0; */
  width: 60px;
  height: 60px;
  /* background-color: #D50000; */
  background-color: var(--aguaMarinaMedio);
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
  position: relative;
  left: -50px;
}

.btn_buscar_artesanos img {
  margin-top: 1.5rem;
  font-size: 25px;
  line-height: 80px;
  transition: all .7s ease;
}

.prueba_artesanos:hover input {
  width: 78%;
} 

.prueba_artesanos:hover .logoBuscar_artesanos{
  transform: rotate(-360deg);
}

.btn_buscar_artesanos:hover {
  /* background: #cc0000; */
  background-color: var(--aguaMarinaFuerteHover);
}

/* ******* */

 /* VISTA SHOW */  


 .artesanosShow  {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  height: 65rem;
  margin: 0px auto 50px auto;
  /* margin-top: 50px; */
  padding-bottom: 30px;
  overflow: auto;
}


.artesanosShow h1 {
  margin-left: 1rem;
  font-family: sans-serif;
  color: var(--aguaMarinaMedio);
}

/* BOTONES*/

.artesanosShow .volver {
  text-align: center;
  /* margin-top: 5rem; */
  margin-left: 1rem;
  color: white;
  width: 20rem;
  height: 4rem;
  border: 1px solid var(--aguaMarinaOscuro) ;;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--aguaMarinaMedio);
}

.artesanosShow .volver:active {
  width: 20rem;
  height: 4rem;
  border: 3px solid var(--aguaMarinaClaro);
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--aguaMarinaFuerte1);
}

.artesanosShow .volver:hover {
  background-color: var(--aguaMarinaFuerteHover);
}

.botonVolver{
  display: flex;
  justify-content: center;
}


 /* VISTAS NEW Y EDIT */


/* FORMULARIO */


.artesanosNew {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  margin: 0px auto 50px auto;
  /* margin-top: 50px; */
  padding-bottom: 30px;
  overflow: auto;
}

.artesanosNew h1 {
  text-align: center;
  margin-left: 1rem;
  font-family: sans-serif;
  color: var(--aguaMarinaMedio)
}




/* BOTONES  */


.crearArtesanos{
  font-weight: bold;
  color: #fff;
  width: 20rem;
  height: 4rem;
  border: 1px solid var(--aguaMarinaOscuro);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--aguaMarinaMedio);
}

.crearArtesanos:active {
  width: 20rem;
  height: 4rem;
  border: 3px solid var(--aguaMarinaClaro);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--aguaMarinaFuerte1);
}

.crearArtesanos:hover {
  background-color: var(--aguaMarinaFuerteHover);
}


  /* RESPOSIVE  */

@media(max-width: 740px){
  .artesanos__titulo{
    margin-left: 0px;
  }

  .productos {
    display: block;
    width: 100%;
  }

  .artesanosTable table {
    display: none;
  }

  .artesanosTable th {
    display: none;
  }

  .artesanosTable table, tbody, tr, td, th {
    display: block;
    width: 100%;
  }

  .artesanosTable tr {
    margin-bottom: 15px;
  }

  .artesanosTable td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .artesanosTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;

  }

  .artesanosTable tr:hover td {
    background-color: #ffffff;
    color: #000;
  }

  .artesanosTable tr:nth-child(even){
    /* background-color: #EFEFEF; */
    background-color: #F5F5F5;
  }

  .seaWater {
    color: #159184;
  }

  .black {
    color: #000;
  }
}

