.container_config  {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  min-height: 70%;
  margin: 0px auto 50px auto;
  margin-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
}

#h1_config {
  margin: 15px;
  text-align: center;
}

#h3_config {
  /* margin: 15px; */
  text-align: center;
  /* border: 1px solid purple; */
}

.addInfo {
  /* border: 1px solid red; */
  margin: auto;
}

.options {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.options1 {
  border: 1px solid #f1c3c3;
  border-radius: 10px;
  padding: 10px;
  background-color: #EBF0F4;
  /* width: 30%; */
  /* display: flex;
  justify-content: space-between; */
  /* width: 50%; */
  /* float: left;
  width: 50%; */
}

.options2 {
  border: 1px solid rgb(145, 139, 230);
  padding: 10px;
  border-radius: 10px;
  background-color: #EBF0F4;
  /* display: flex;
  justify-content: space-between;
  width: 50%; */
  /* float: right;
  width: 50%; */
}

/* BOTONES AGREGAR COLOR */

.btn_cat {
  font-weight: bold;
  color: #fff;
  width: 8rem;
  height: 4rem;
  border: 1px solid var(--rojoOscuro);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--rojoFuerte2);
}

.btn_cat:active {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 3px solid var(--rojoClaro);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--rojoMedio);
}

.btn_cat:hover {
  background-color: var(--rojoOscuroHover);
}

/* ****** */

/* BOTON AGREGAR CATEGORIA */

/* .btn_col {
  display: inline;
  border: 1px solid blue;
} */

.btn_col {
  font-weight: bold;
  color: #fff;
  width: 8rem;
  height: 4rem;
  border: 1px solid var(--azulMedio);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--azulMedio);
}

.btn_col:active {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 3px solid #84BDFC;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--azulFuerte1);
}

.btn_col:hover {
  background-color: var(--azulFuerte2);
}

/* ******* */

@media(max-width: 800px){
  .options {
    /* border: 1px solid red;
    margin: auto; */
    min-width: 218px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* padding: 10px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
  }
  .options1 {
    /* border: 1px solid blue;
    padding: 10px; */
    min-width: 195px;
    margin: auto;
    /* display: flex;
    justify-content: space-between; */
    /* width: 50%; */
    /* float: left;
    width: 50%; */
  }
  
  .options2 {
    /* border: 1px solid green;
    padding: 10px; */
    min-width: 195px;
    margin: auto;
    /* display: flex;
    justify-content: space-between; */
    /* width: 50%; */
    /* float: right;
    width: 50%; */
  }
}