/* .login {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDevise {
  width: 520px;
  min-height: 420px;
  max-height: auto;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  opacity: 0.9;
  box-shadow: 3px 7px 20px rgb(66, 66, 66);
}

.registroNombres {
  display: grid;
  grid-template-columns: auto auto;
}

.registroNombres_casilla {
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
} */


/* Estilos Version 1.2 */

/* :root {
  --fuentePrincipal: 'Open Sans';
} */

/* Principales  */

/* html {
  font-size: 62.5%; /*Para utilizar rem*
  box-sizing: border-box; /* Hack para box model *
} */

/* *, *:before, *:after {  /* Hack para box model *
  box-sizing: inherit; 
} */

.background_devise {
  /* height: 100%; */
  margin-left: -50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px; /*1rem = 10px*/
  background-image: url("img/pexels-julia-volk-6118897");
  background-size:cover;
}
#error_explanation{
  width: 100%  !important;
  font-size: 8px  !important;
  padding: 20px  !important;
  color: red !important;
}

.devise {
  margin: auto;
  border: none;
  min-width: 35%;
  /* max-width: 35%; */
  min-height: 325px;
  max-height: 550px;
  box-shadow: 3px 7px 20px rgb(66, 66, 66);
  border-radius: 20px;
  background-color: #fff;
}

.fondo_image {
  position: relative;
}

/* .devise h1, h2, h3, h4, h5, h6, p{
  font-family: var(--fuentePrincipal);
} */

/* .devise p, li {
  font-size: 1.5rem;
  font-family: var(--fuentePrincipal);

} */

/* .devise a {
  text-decoration: none;

} */

.devise h1, h2, h3 {
  text-align: center;
  /* font-size: 3rem; */
  padding: 10px;
}

/* .devise h1 {

} */

/* .devise h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;

}

.devise h3 {
  font-size: 2rem;
} */


/* logo  */

.devise .avatar {
  height: 18%;
  border-radius: 80%;
  position: relative;
  display:block;
  margin:auto;
}

/* .centrar_nombre_perfil {
  text-align: center;
  padding: 20px;
  /* min-width: 100%; *
  /* border: 1px solid blue; *
} */




/* inputs, labels and buttoms*/

.devise .input {
  /* font-family: var(--fuentePrincipal); */
  margin: 5%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  width: 90%;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.devise .label {
  font-size: 1.8rem;
  margin-left: 5%;
  font-weight: bold;
  /* font-family: var(--fuentePrincipal); */
}

.devise .buttom {
  /* font-family: var(--fuentePrincipal); */
  /* margin-left: 5rem;
  margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px auto 20px 5%;
  border: 1px solid rgb(245, 176, 23);
  cursor: pointer;
  outline: none;
  height: 35px;
  /* width: 40rem; */
  width: 90%;
  background: rgb(245, 176, 65);
  border-radius: 20px;
  color: white;
}

.devise .recordar {
  /* margin-left: 20rem; */
  font-family: var(--fuentePrincipal);

}

.devise .label__recordar {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--fuentePrincipal);
}

.devise .buttom:active{
  background: black;
  border: 1px solid black;
}

.devise a {
  text-align: center;
  color: rgba(0, 0, 0, 0.712);
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  font-weight: initial;

}

.devise a:active {
  color: black;
}

.devise .prueba {
  text-align: center;
  margin-bottom: 15px;
}

/* .devise {
  height: 55rem;
} */



/* footer */



.footer {
  /* margin-top: 5rem; */
  /* height: 50px; */
  background-color: #fff;
  border: none;
}

.footer>p {
  color: #000;
}

/* .probar {
  display: block;
} */

@media (max-width: 1080px) {
  .devise {
    min-width: 40%;
  }
}