/* DEVISE */
.background_devise {
  margin-left: -50px;
  position: relative;
  padding-bottom: 20px;
  min-height: 100vh;
  margin-top: -20px;
  display: flex;
  align-items: center;
  font-size: 16px; /*1rem = 10px*/
  background-image: url("img/fondo_sandra_munoz");
  background-size: cover;
}
#error_explanation {
  width: 100% !important;
  font-size: 12px !important;
  font-size: 11px !important;
  padding-left: 20px !important;

  color: red !important;
}

.devise {
  margin: auto;
  border: none;
  width: 500px;
  box-shadow: 3px 7px 20px rgb(66, 66, 66);
  border-radius: 20px;
  background-color: #fff;
}

.fondo_image {
  position: relative;
}

.devise h2 {
  text-align: center;
}

/* logo  */

.devise .avatar {
  height: 18%;
  border-radius: 80%;
  position: relative;
  display: block;
  margin: auto;
}

/* inputs, labels and buttoms*/

.devise .input {
  margin: 5%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  width: 90%;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.devise .label {
  font-size: 1.8rem;
  margin-left: 5%;
  font-weight: bold;
}

.devise .buttom {
  margin: 10px auto 10px 5%;
  border: 1px solid rgb(245, 176, 23);
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 90%;
  background: rgb(245, 176, 65);
  border-radius: 20px;
  color: white;
}

.devise .recordar {
  font-family: var(--fuentePrincipal);
}

.devise .label__recordar {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--fuentePrincipal);
}

.devise .buttom:active {
  background: black;
  border: 1px solid black;
}

.devise a {
  text-align: center;
  color: rgba(0, 0, 0, 0.712);
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  font-weight: initial;
}

.devise a:active {
  color: black;
}

.devise .prueba {
  text-align: center;
  margin-bottom: 15px;
}

/* footer */

.footer {
  background-color: #fff;
  border: none;
  position: absolute;
}

.footer > p {
  color: #000;
}

@media (max-width: 1080px) {
  .devise {
    min-width: 40%;
  }
}
