.login {
  margin: 0;
  /* padding: 20px; */
  font-family: sans-serif;
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDevise {
  width: 520px;
  min-height: 420px;
  max-height: auto;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  /* position: absolute;
  top: 20%;
  left: 440px; */
  opacity: 0.9;
  box-shadow: 3px 7px 20px rgb(66, 66, 66);
}

.registroNombres {
  display: grid;
  grid-template-columns: auto auto;
}

.registroNombres_casilla {
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
}


/* Estilos Version 1.2 */

:root {
  --fuentePrincipal: 'Open Sans';
}

/* Principales  */

html {
  font-size: 62.5%; /*Para utilizar rem*/
  box-sizing: border-box; /* Hack para box model */
}

*, *:before, *:after {  /* Hack para box model */
  box-sizing: inherit; 
}

body {
  font-size: 16px; /*1rem = 10px*/
  /* background-repeat: no-repeat; */
  /* background-position: 70%; */
  background-image: url("img/pexels-julia-volk-6118897");
  background-size:cover;
  /* background-position:center; */
  /* animation: slider 10s infinite alternate; */
}

/* @keyframes slider {
  from {
    background-size: 9a00px;
    background-position: lef bottom;
  }
  to {
    background-size: 1920px;
    background-position: right center;
  }
} */

.devise {
  /* background-image: url("img/pexels-ksu&eli-8681052");
  background-size:cover;
  background-position:center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 50rem;
  height: 45rem;
  box-shadow: 3px 7px 20px rgb(66, 66, 66);
  border-radius: 20px;
  background-color: #fff;
}

.fondo_image {
  position: relative;
}

.devise h1, h2, h3, h4, h5, h6, p{
  font-family: var(--fuentePrincipal);
}

.devise p, li {
  font-size: 1.5rem;
  font-family: var(--fuentePrincipal);

}

.devise a {
  text-decoration: none;

}

.devise h1, h2, h3 {
  text-align: center;
  font-family: var(--fuentePrincipal);
}

.devise h1 {
  font-size: 3rem;

}

.devise h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;

}

.devise h3 {
  font-size: 2rem;
}




/* inputs, labels and buttoms*/

.devise .input {
  font-family: var(--fuentePrincipal);
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  width: 40rem;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.devise .label {
  font-size: 1.8rem;
  margin-left: 5rem;
  font-weight: bold;
  font-family: var(--fuentePrincipal);
}

.devise .buttom {
  font-family: var(--fuentePrincipal);
  margin-left: 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(245, 176, 23);
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 40rem;
  background: rgb(245, 176, 65);
  border-radius: 20px;
  color: white;
}

.devise .recordar {
  margin-left: 20rem;
  font-family: var(--fuentePrincipal);

}

.devise .label__recordar {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--fuentePrincipal);
}

.devise .buttom:active{
  background: black;
  border: 1px solid black;
}

.devise a {
  text-align: center;
  color: rgba(0, 0, 0, 0.712);
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  font-weight: initial;

}

.devise a:active {
  color: black;
}

.devise .prueba {
  text-align: center;
}

.footer {
  margin-top: 5rem;
  height: 50px;
  background-color: #fff;
  border: none;
}

.probar {
  display: block;
}