.emfacturas__titulo{
  color: #0EC002;
  font-size: 3.2rem;
  width: 500px;
  margin-left: -150px;
}

.text_factura-empresa{
    text-align: center;
    color: #F5B041;
}

.formulario_factura-empresa{    
    text-align: center;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.factura_boton-empresa{
    border-radius: 5px;
    background-color: #F5B041;
}
.label_factura-empresa{
    /* border: solid 1px blue; */
    display: block;
}

@media(max-width: 740px){
  .emfacturas__titulo{
    margin-left: 0px;
    max-width: 200px;
  }
}