/* principales */

:root {
  --verdeOscuro: #0F7B08;
  --verdeOscuroHover: #15A70B;
  --verdeFuerte2: #0EC002;
  --verdeMedio: #4EEC43;
  --verdeClaro: #56F74B;
}

html {
    font-size: 62.5%; /*Para utilizar rem*/
    
  }
  
  * {
    box-sizing: border-box;
  }
  


.container_empresa{
    text-align: center;
    margin-top: -100px;
}
.container_empresa-text{
    color: #F5B041;
}
.formulario_empresa{
    width: 400px;
    padding: 20px;
    margin: auto;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    
}
.formulario_boton{
   
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    width: 20rem;
    height: 4rem;
    border: 1px solid var(--azulMedio);
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--azulMedio);
}
.input_empresa1{
    margin-left: 10px;
}
.label_empresa1{
    margin-left: 40px;
}
.input_empresa2{
    margin-left: 10px;
}
.label_empresa2{
    margin-left: 10px;
}


/* estilos nuevos  */

.empresasTable {
  font-size: 16px; /*1rem = 10px*/
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  
  
}

.empresasTable table {
  width: 100%;
  border-collapse: collapse;
}

.empresasTable th, td {
  border: 1px solid #ddd;
  padding: 12px 15px; 
  text-align: center;
}

.empresasTable th {
  border: 1px solid #4EEC43;
  background-color: #0EC002;
  color: #fff;
}

.empresas__titulo{
  color: #0EC002;
  font-size: 3.2rem;
  width: 200px;
  margin-left: -150px;
}

.empresasTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.empresasTable tr:nth-child(even){
  background-color: #F5F5F5;
}




/* botones  */


.empresas__nuevo {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 1px solid #119708;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #19C70D;
  
}

.empresas__nuevo:active {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 3px solid  var(--verdeClaro);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--verdeOscuro);
}

.empresas__nuevo:hover {
  background-color: var(--verdeOscuroHover);
}

/* ******** */

  /* BUSCADOR  */

.buscador_empresas {
  /* height: 10rem; */
  /* width: 280px; */
  min-width: 300px;
  max-width: 300px;
}

.logoBuscar_empresas {
  height: 3rem;
}

.prueba_empresas input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid var(--verdeFuerte2);
  transition: all .7s ease;
  float: left;
  margin-top: 10px;
}

.prueba_empresas::placeholder {
  color: gray;

}

.btn_buscar_empresas {
  /* position: absolute; */
  /* margin-left: 50rem; */
  /* right: 0;
  top: 0; */
  width: 60px;
  height: 60px;
  /* background-color: #D50000; */
  background-color: var(--verdeFuerte2);
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
  position: relative;
  left: -50px;
}

.btn_buscar_empresas img {
  margin-top: 1.5rem;
  font-size: 25px;
  line-height: 80px;
  transition: all .7s ease;
}

.prueba_empresas:hover input {
  width: 78%;
} 

.prueba_empresas:hover .logoBuscar_empresas{
  transform: rotate(-360deg);
}

.btn_buscar_empresas:hover {
  /* background: #cc0000; */
  background-color: var(--verdeOscuroHover);
}

/* ******* */

  /* RESPONSIVE  */

@media(max-width: 740px){
  .empresas__titulo{
    margin-left: 0px;
  }

  .productos {
    display: block;
    width: 100%;
  }

  .empresasTable table {
    display: none;
  }

  .empresasTable th {
    display: none;
  }

  .empresasTable table, tbody, tr, td, th {
    display: block;
    width: 100%;
  }

  .empresasTable tr {
    margin-bottom: 15px;
  }

  .empresasTable td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .empresasTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;

  }

  .empresasTable tr:hover td {
    background-color: #ffffff;
    color: #000;
  }

  .empresasTable tr:nth-child(even){
    /* background-color: #EFEFEF; */
    background-color: #F5F5F5;
  }

  .green {
    color: #0F7B08;
  }

  .black {
    color: #000;
  }
}

                                                   /* vista show */                                    


.empresasShow  {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  height: 65rem;
  margin: 0px auto 50px auto;
  margin-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
}


.empresasShow h1 {
  margin-left: 1rem;
  font-family: sans-serif;
  color: var(--verdeFuerte2)
}



/* botones*/

.volver {
  text-align: center;
  margin-top: 5rem;
  margin-left: 1rem;
  color: white;
  width: 20rem;
  height: 4rem;
  border: 1px solid #119708;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: #19C70D;
}

.volver:active {
  width: 20rem;
  height: 4rem;
  border: 3px solid  var(--verdeClaro);
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--verdeOscuro);
}

.volver:hover {
  background-color: var(--verdeOscuroHover);
}

.botonVolver{
  display: flex;
  justify-content: center;
  
}





                                              /* vistas new and edit */


/* formulario */


.empresasNew {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  margin: 0px auto 50px auto;
  margin-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
}

.empresasNew h1 {
  text-align: center;
  margin-left: 1rem;
  font-family: sans-serif;
  color: #19C70D;
}

/* botones  */


.crearEmpresas {
  font-weight: bold;
  color: #fff;
  width: 20rem;
  height: 4rem;
  border: 1px solid #119708;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #19C70D;
}

.crearEmpresas:active {
  width: 20rem;
  height: 4rem;
  border: 3px solid #56F74B;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #0F7B08;
}

.crearEmpresas:hover {
  background-color: #15A70B;
}


