:root {
  --fondo: rgba(255, 255, 255, 0.8);
  --borde: 1px solid rgba(0, 0, 0, 0.8);
}

.panelContador {
  /* border: solid 1px red; */
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
  border-radius: 1rem;
}

.panelRegistros {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  border-radius: 1rem;
}

.panelContador__elemento {
  background-color: var(--fondo);
  /* border: var(--borde); */
  padding: 20px;
  font-size: 30px;
  /* text-align: center; */
  margin: 20px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* cursor: pointer; */
}

/* .panerContador_div {
  border: 1px solid red;
} */

.panelContador_count {
  text-align: center;
  margin: 20px;
  /* display: flex;
  flex-direction: column; */
  color: #fff;
}
.panelContador_count>.span_angulo_derecho:hover {
  transform: scale(1.1);
}

.panelRegistros__elemento {
  background-color: var(--fondo);
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
  margin: 20px;
}


/* .panelRegistros__elemento > table,thead,tbody,tr,td {

  border: 1px solid red;
} */

.panelContador__icono_producto {
  /* width: 100%; */
  padding: 20px;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid #0D1EC6;  */
  background-color: #0D1EC6;
  border-radius: 50%;
  cursor: pointer;
}
.panelContador__icono_producto:hover {
  transform: scale(1.1);
}
#pro{
  border: 1px solid #0D1EC6;
}
#pro_fondo{
  background-color: #0D1EC6;
}

.panelContador__icono_empresa {
  /* width: 100%; */
  padding: 20px;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
  background-color: #49AD09;
  border-radius: 50%;
  cursor: pointer;
}
.panelContador__icono_empresa:hover {
  transform: scale(1.1);
}
#emp{
  color: 1px solid #49AD09;
}
#emp_fondo{
  background-color: #49AD09;
}


.panelContador__icono_cliente {
  /* width: 100%; */
  padding: 20px;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
  background-color: #DE1E08;
  border-radius: 50%;
  cursor: pointer;
}
.panelContador__icono_cliente:hover {
  transform: scale(1.1);
}
#cli{
  border: 1px solid #DE1E08;
}
#cli_fondo{
  background-color: #DE1E08;
}

.panelContador__icono_artesano {
  /* width: 100%; */
  padding: 20px;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
  background-color: #04B7A4;
  border-radius: 50%;
  cursor: pointer;
}
.panelContador__icono_artesano:hover {
  transform: scale(1.1);
}
#art{
  border: 1px solid #04B7A4;
}
#art_fondo{
  background-color: #04B7A4;
}

.panelContador__contador {
  /* width: 100%; */
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

/* .span_angulo_derecho {
  /* margin-bottom: 5px;
  border: 1px solid red;
} */

.minilogo_grid {
  /* border: 1px solid red; */
  height: 80px;
}

#h4_home {
  padding: 10px;
}

.panelRegistros__elemento>table,th,td {
  border: 1px solid black;
  border-spacing: 0;
}

.panelRegistros__elemento>table {
  margin: auto;
  width: 100%;
}

@media (max-width: 570px) {
  .panelContador {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
  
  .panelRegistros {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
}