:root {
  --fondo: rgba(255, 255, 255, 0.8);
  --borde: 1px solid rgba(0, 0, 0, 0.8);
}

.panelContador,
.panelRegistros {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  border: solid 1px red;
  padding: 10px;
  margin: 20px;
}

.panelContador__elemento {
  background-color: var(--fondo);
  border: var(--borde);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 20px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.panelRegistros__elemento {
  background-color: var(--fondo);
  border: var(--borde);
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
  margin: 20px;
}


/* .panelRegistros__elemento > table,thead,tbody,tr,td {
  
  border: 1px solid red;
} */

.panelContador__icono-flor {
  width: 100%;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
 background-color: #0D1EC6; 
}
.panelContador__icono-derecha {
  width: 100%;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
 background-color: #DE1E08; 
}
.panelContador__icono-canasta {
  width: 100%;
  height: 100%;
  font-size: 15px;
  /* border: 1px solid purple;  */
 background-color: #49AD09; 
}

.panelContador__contador {
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

/* .span_angulo_derecho {
  /* margin-bottom: 5px;
  border: 1px solid red;
} */

.minilogo_grid {
  /* border: 1px solid red; */

  height: 80px;
}