/* principales  */

:root {
  --blanco: #fff;
  --moradoOscuro: #7647b9;
  --moradoOscuroHover: #7e50c1;
  --moradoFuerte1: #7d4ac6;
  --moradoFuerte2: #8e58dc;
  --moradoMedio: #7c59b0;
  --moradoClaro: #a78dcd;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*Para utilizar rem*/
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/* nuevos estilos v2 */

.facturas_izquierdo_prodtns {
  /* float: left; */
  width: 500px;
  /* max-width: 35%; */
  min-height: 300px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.produccionTable {
  font-size: 16px; /*1rem = 10px*/
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

.produccionTable table {
  width: 100%;
  border-collapse: collapse;
}

.produccionTable th,
td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
}

.produccionTable th {
  border: 1px solid #ad83ea;
  background-color: #7d4ac6;
  color: #fff;
}

.produccion__titulo {
  color: #7d4ac6;
  font-size: 3.2rem;
  width: 300px;
  margin-left: -150px;
}

.produccionTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.produccionTable tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* BOTONES  */

.produccion__nuevo {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 1px solid #7647b9;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #8e58dc;
}

.produccion__nuevo:active {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 3px solid #a78dcd;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #7c59b0;
}

.produccion__nuevo:hover {
  background-color: #7e50c1;
}
/* ******** */

/* BUSCADOR  */

.buscador_productions {
  /* height: 10rem; */
  /* width: 280px; */
  min-width: 300px;
  max-width: 300px;
}

.logoBuscar_productions {
  height: 3rem;
}

.prueba_productions input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid var(--moradoFuerte1);
  transition: all 0.7s ease;
  float: left;
  margin-top: 10px;
}

.prueba_productions::placeholder {
  color: gray;
}

.btn_buscar_productions {
  /* position: absolute; */
  /* margin-left: 50rem; */
  /* right: 0;
  top: 0; */
  width: 60px;
  height: 60px;
  /* background-color: #D50000; */
  background-color: var(--moradoMedio);
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
  position: relative;
  left: -50px;
}

.btn_buscar_productions img {
  margin-top: 1.5rem;
  font-size: 25px;
  line-height: 80px;
  transition: all 0.7s ease;
}

.prueba_productions:hover input {
  width: 78%;
}

.prueba_productions:hover .logoBuscar_productions {
  transform: rotate(-360deg);
}

.btn_buscar_productions:hover {
  /* background: #cc0000; */
  background-color: var(--moradoOscuroHover);
}

.btn_center {
  margin: auto;
  display: flex;
}

/* ******* */

/* RESPONSIVE  */

@media (max-width: 740px) {
  .produccion__titulo {
    margin-left: 0px;
    max-width: 200px;
  }

  .productos {
    display: block;
    width: 100%;
  }

  .produccionTable table {
    display: none;
  }

  .produccionTable th {
    display: none;
  }

  .produccionTable table,
  tbody,
  tr,
  td,
  th {
    display: block;
    width: 100%;
  }

  .produccionTable tr {
    margin-bottom: 15px;
  }

  .produccionTable td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .produccionTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .produccionTable tr:hover td {
    background-color: #ffffff;
    color: #000;
  }

  .produccionTable tr:nth-child(even) {
    /* background-color: #EFEFEF; */
    background-color: #f5f5f5;
  }

  .pupple {
    color: #7c59b0;
  }

  .black {
    color: #000;
  }
}

/* vistas new and edit */

/* formulario */

.informacionProduccionNew {
  margin-top: 5px;
  justify-content: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1rem;
}

.informacionProduccionNew label {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.informacionProduccionNew div {
  width: 50%;
  padding: 10px;
}

.informacionProduccionNew select {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding-left: 10px;
  font-family: sans-serif;
  border: 1px solid #9aa399;
  color: #424442;
  height: 5rem;
  width: 10rem;
}

.produccionNew {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  margin: 0px auto 50px auto;
  /* margin-top: 50px; */
  padding-bottom: 30px;
  overflow: auto;
}

.produccionNew h1 {
  text-align: center;
  margin-left: 1rem;
  font-family: sans-serif;
  color: var(--moradoFuerte1);
}

.crearProduccion {
  font-weight: bold;
  color: #fff;
  width: 20rem;
  height: 4rem;
  border: 1px solid #7647b9;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #8e58dc;
}

.crearProduccion:active {
  font-weight: bold;
  color: #fff;
  width: 20rem;
  height: 4rem;
  border: 3px solid #a78dcd;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #7c59b0;
}

.crearProduccion:hover {
  background-color: #7e50c1;
}
