.imagenproducto{
  margin:20px auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  width:300px;
  height:300px;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
}
/*TABLA DEL FORMULARIO*/

.container  {
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  height: 380px;
  margin: 50px auto;
  /* margin-top: 50px; */
  padding-bottom: 30px;
  /* height: 100px; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* overflow-y: scroll; */
  /* overflow: hidden; */
  overflow: auto;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
  width: 0px;
}

.container::-webkit-scrollbar:horizontal {
  height: 13px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* *********** */

.containerInfo{
  /* border: 1px solid rgb(17, 160, 29); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerInfo__titulo{
  /* border: 1px solid black; */
  color: #F5B041;
}

.containerInfo__boton {
  border: 1px solid black;
  /* text-align: center; */
  height: fit-content;
}

.icon_logo_title {
  height: 40px;
}

.icon_nuevo {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: gold;
}

/* table{
  border: 1px solid black;
}

tr, td,th{    
  border: 1px solid black;
} */

.icon_mas{
  height: 14px;
}

.icon_accion{
  height: 20px;
}

/* .btn_borrar {
  padding: 0;
  border: none;
  background-color: transparent;
} */

.containerTable{
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  max-height: 400px;
}

.containerTable>table,th,td {
  border: 1px solid black;
  border-spacing: 0;
}

.containerTable>table {
  margin: auto;
  width: 100%;
}

.centrar {
  text-align: center;
}

.left {
  text-align: none;
}

/* CREAR PRODUCTOS */

.containerPro{
  text-align: center;
}
.formulario{

  border-radius: 10px;
  width: 280px;
  height: 320px;
  margin: auto;
  /* box-shadow: 3px 3px goldenrod, -1em 0 0.4em goldenrod; */
  /* box-shadow: 60px -16px #F5B041; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.containerPro_text{
  color: #F5B041 ;
}

.formulario_boton {
  background-color: #F5B041;
  border-radius: 5px;
}
.text-danger{
  border: 1px solid;
  padding:10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  text-align:center;
  width:auto;
  color: white;
  background-color: red;
}