
.containerProds{
  text-align: center;
  /* margin: -700px auto 50px auto; */

}

.formularioProds{
  background-color: #fff;
  border-radius: 10px;
  width: 280px;
  min-height: 100px;
  margin: auto;
  padding: 10px;
  /* box-shadow: 3px 3px goldenrod, -1em 0 0.4em goldenrod; */
  /* box-shadow: 60px -16px #F5B041; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.containerProds_text{
  color: #F5B041;
}

.input_produccion {
  margin: 10px;
}


/* nuevos estilos v2 */

.produccionTable {
  font-size: 16px; /*1rem = 10px*/
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  
  
}

.produccionTable table {
  width: 100%;
  border-collapse: collapse;
}

.produccionTable th, td {
  border: 1px solid #ddd;
  padding: 12px 15px; 
  text-align: center;
}

.produccionTable th {
  border: 1px solid #AD83EA;
  /* background-color: #895BCB; */
  background-color: #7D4AC6;
  color: #fff;
}

.produccion__titulo{
  color: #7D4AC6;
  font-size: 3.2rem;
  /* border: 1px solid red; */
  width: 300px;
  margin-left: -150px;
}

.produccionTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.produccionTable tr:nth-child(even){
  background-color: #F5F5F5;
}


/* BOTONES  */

.produccion__nuevo {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 1px solid #7647B9;;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #8E58DC;
  
}

.produccion__nuevo:active {
  font-weight: bold;
  width: 8rem;
  height: 4rem;
  border: 3px solid #A78DCD;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #7C59B0;
}

.produccion__nuevo:hover {
  background-color: #7E50C1;
}
/* ******** */

/* BUSCADOR  */

:root {
  --moradoOscuro: #7647B9;
  --moradoOscuroHover: #7E50C1;
  --moradoFuerte1: #7D4AC6;
  --moradoFuerte2: #8E58DC;
  --moradoMedio: #7C59B0;
  --moradoClaro: #A78DCD;
}

.buscador_productions {
  /* height: 10rem; */
  /* width: 280px; */
  min-width: 300px;
  max-width: 300px;
}

.logoBuscar_productions {
  height: 3rem;
}

.prueba_productions input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid var(--moradoFuerte1);
  transition: all .7s ease;
  float: left;
  margin-top: 10px;
}

.prueba_productions::placeholder {
  color: gray;
}

.btn_buscar_productions {
  /* position: absolute; */
  /* margin-left: 50rem; */
  /* right: 0;
  top: 0; */
  width: 60px;
  height: 60px;
  /* background-color: #D50000; */
  background-color: var(--moradoMedio);
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
  position: relative;
  left: -50px;
}

.btn_buscar_productions img {
  margin-top: 1.5rem;
  font-size: 25px;
  line-height: 80px;
  transition: all .7s ease;
}

.prueba_productions:hover input {
  width: 78%;
} 

.prueba_productions:hover .logoBuscar_productions{
  transform: rotate(-360deg);
}

.btn_buscar_productions:hover {
  /* background: #cc0000; */
  background-color: var(--moradoOscuroHover);
}

/* ******* */


/* RESPONSIVE  */

@media(max-width: 740px){
  .produccion__titulo{
    margin-left: 0px;
    max-width: 200px;
  }

  .productos {
    display: block;
    width: 100%;
  }

  .produccionTable table {
    display: none;
  }

  .produccionTable th {
    display: none;
  }

  .produccionTable table, tbody, tr, td, th {
    display: block;
    width: 100%;
  }

  .produccionTable tr {
    margin-bottom: 15px;
  }

  .produccionTable td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .produccionTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;

  }

  .produccionTable tr:hover td {
    background-color: #ffffff;
    color: #000;
  }

  .produccionTable tr:nth-child(even){
    /* background-color: #EFEFEF; */
    background-color: #F5F5F5;
  }

  .pupple {
    color: #7C59B0;
  }

  .black {
    color: #000;
  }
}


/* 895BCB */