/* principales */

html {
  font-size: 62.5%; /*Para utilizar rem*/
  
}

* {
  box-sizing: border-box;
}

.sombra{
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
  box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}


/*TABLA DEL FORMULARIO*/

.container  {
  font-size: 16px; /*1rem = 10px*/
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  height: 60rem;
  margin: 0px auto 50px auto;
  margin-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
}







/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
  width: 0px;
}

.container::-webkit-scrollbar:horizontal {
  height: 13px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* *********** */

.productos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.productos p {
  font-family: sans-serif;
  height: 3rem;
  margin-top: 4px;
  text-align: center;
  color: #fff;

}

.form_input {
  border: 1px solid red;
  width: 100px;
}

.productos__titulo{
  /* border: 1px solid black; */
  color: #1070dd;
  font-size: 3.2rem; 
  width: 200px;
}



.containerInfo__boton {
  border: 1px solid black;
  /* text-align: center; */
  height: fit-content;
}

.icon_logo_title {
  height: 40px;
}


.icon_mas{
  height: 14px;
}

.icon_accion{
  height: 20px;
}

/* .btn_borrar {
  padding: 0;
  border: none;
  background-color: transparent;
} */

/* .containerTable{
  border: 1px solid red;
  width: 90%;
  margin: auto;
  max-height: 400px;
} */

/* .containerTable>table,th,td {
  border: 1px solid black;
  border-spacing: 0;
} */

/* .containerTable>table {
  margin: auto;
  width: 100%;
} */

.centrar {
  text-align: center;
}

.left {
  text-align: none;
}

/* CREAR PRODUCTOS */

.containerPro{
  text-align: center;
  margin: -80px auto 50px auto;
}

.formulario{
  background-color: #fff;
  border-radius: 10px;
  width: 280px;
  min-height: 320px;
  margin: auto;
  /* box-shadow: 3px 3px goldenrod, -1em 0 0.4em goldenrod; */
  /* box-shadow: 60px -16px #F5B041; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.formulario_profile{
  background-color: #fff;
  text-align: center;
  /* padding: 10px; */
  border-radius: 10px;
  width: 400px;
  min-height: 320px;
  margin: auto;
  /* box-shadow: 3px 3px goldenrod, -1em 0 0.4em goldenrod; */
  /* box-shadow: 60px -16px #F5B041; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.imagen_profile {
  margin: auto;
}

.containerPro_text{
  color: #F5B041;
}

.formulario_boton {
  background-color: #F5B041;
  border-radius: 5px;
}
.text-danger{
  /* border: 1px solid; */
  /* padding:10px; */
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  text-align:center;
  width:auto;
  color: red;
  /* background-color: red; */
}
/* ***CREAR*** */

/* BUSCADOR */

.container-4{
  /* overflow: hidden; */
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  /* border: 0.5px solid black; */
}

.container-4 input#search{
  width: 200px;
  height: 35px;
  background: #fff;
  /* border: none; */
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 .icon{
  position: absolute;
  /* top: 50%; */
  margin-left: 8px;
  margin-top: 5px;
  z-index: 1;
  height: 15px;
}

.container-4 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #d3d2d2;
}
/* ********** */


/* nuevos estilos  */

.productosTable {
  font-size: 16px; /*1rem = 10px*/
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  
  
}

.productosTable table {
  width: 100%;
  border-collapse: collapse;
}

.productosTable th, td {
  border: 1px solid #ddd;
  padding: 12px 15px; 
  text-align: center;

}

.productosTable th {
  border: 1px solid #84BDFC;
  background-color: #1070dd;
  color: #fff;
}

.productos__titulo{
  color: #1070dd;
  font-size: 3.2rem; 
}

.productosTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.productosTable tr:nth-child(even){
  background-color: #F5F5F5;
}


/* botones  */


.botones {
  display: flex;
  justify-content: space-evenly;
}

.productos__nuevo {
  width: 8rem;
  height: 4rem;
  border: 1px solid #147CF0;;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #147CF0;
  
}

.productos__nuevo:active {
  width: 8rem;
  height: 4rem;
  border: 3px solid #84BDFC;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: #1070dd;
}

.productos__nuevo:hover {
  background-color: #1068CA;
}

.editar {
  border-radius: 3px;
  height: 3rem;
  width: 7.5rem;
  cursor: pointer;
  background-color: #888F87;
  border: 1px solid #777E77;
  color: #fff;
} 

.editar:active {
  border-radius: 3px;
  height: 3rem;
  width: 7.5rem;
  cursor: pointer;
  background-color: #757C74;
  border: 3px solid #B7BAB6;
  color: #fff;
}

.editar:hover {
  background-color: #787E77;
}

.eliminar {
  border-radius: 3px;
  height: 3rem;
  width: 7.5rem;
  cursor: pointer;
  color: #fff;
  /* background-color: #E01B34; para el hover */
  background-color: #F92E48;
  border: 1px solid #EB233C;
}

.eliminar:hover {
  background-color: #E01B34;
}

.eliminar:active {
  border-radius: 3px;
  height: 3rem;
  width: 7.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #E1223A;
  border: 3px solid #F4818E;
}


.ver {
    border-radius: 3px;
    height: 3rem;
    width: 7.5rem;
    cursor: pointer;
    background-color: #2FAF48;
    border: 1px solid #26A53F;
    color: #fff;
}

.ver:hover{
  background-color: #2E9E44;
}

.ver:active{
  border-radius: 3px;
  height: 3rem;
  width: 7.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #2B903F;
  border: 3px solid #7FDB90;
}

/* tabla responsive  */

@media(max-width: 740px){
  .productos {
    display: block;
    width: 100%;
  }

  .productosTable table {
    display: none;
  }

  .productosTable th {
    display: none;
  }

  .productosTable table, tbody, tr, td, th {
    display: block;
    width: 100%;
  }

  .productosTable tr {
    margin-bottom: 15px;
  }

  .productosTable td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .productosTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;

  }

  .productosTable tr:hover td {
    background-color: #ffffff;
    color: #000;
  }

  .productosTable tr:nth-child(even){
    /* background-color: #EFEFEF; */
    background-color: #F5F5F5;
  }

  .blue {
    color: #1070dd;
  }

  .black {
    color: #000;
  }
}