<tr>
  <td data-label="Referencia", class="centrar blue">
    <%= color.tipo %>
  </td>

  
  <td data-label="Accion" class="botones blue">
    <%= link_to edit_color_url(color) do %>
      <%# image_tag("iconos/editar", class:"icon_accion") %>
      <button class="editar">Editar</button>
    <% end %>

    <%= button_to "Eliminar",color_path(color), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar este artesano?')" %>
    
  </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>