<main class="container sombra">
    <section class="productos">
        <h1 class="productos__titulo">Productos</h1>
        <div class="productos__nuevo">
            <%= link_to "colors/new" do %>
            <p>Nuevo</p>
            <% end %>
        </div>    
    </section>
    
    <section class= "productosTable">
      <table>
        <thead>
          <tr>
            <th>tipo de colores</th>
            <th colspan="3">Acción</th>
          </tr>
        </thead>
        <tbody>
          <%= render @colors  %>
        </tbody>
      </table>
  </section>

</main>