
<tr>
    <td>
        <%= clientproducto.nombre_pedido %>
    </td>
    <td>
        <%=  clientproducto.cantidad_pedido %>
    </td>
    <td>
        <%= clientproducto.cantidad_pedido %>
    </td>
    <td>
        <%= clientproducto.direccion_pedido %>
    </td> 
</tr>