<div style=" margin: auto ; padding: 10px; width: 535px;">
  <h1 class="containerPro_text" style=" text-align: center;" >Crear Produccion</h1>
  <div style="border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); padding: 5px;" >
<%= simple_form_for @production do |f| %>
    <%= f.input :ref, label: "escriba el nombre de referencia"%>
    <% if @production.errors[:ref].any? %>
    <span class="text-danger"><%= @production.errors[:ref].first %></span>
    <br>
  <% end %>
   <p style="text-align: center"><%= f.button :submit,   "Crear Produccion" %></p> 
<% end %>
</div>
</div>