<tr>
    <td data-label="N° Referencia" class="centrar pupple">
        <%= production.ref%>
    </td>
    <td data-label="Fecha de producción" class="centrar pupple">
        <%= production.created_at %>
    </td>
    <td data-label="Acción" class="botones pupple">
        <%= link_to production_url(production) do %>
            <button class="ver">Ver</button>
         <% end %>
    <%= button_to "Eliminar", production_path(production), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar este registro?')" %>

    
    </td>
</tr>

<script>
    function confirmDestroy(message) {
        if(!confirm(message)){
            return false
        }
    }
</script>