
<tr>
<td>
    <%= link_to production.ref, production_url(production.id) %>
</td>
<td>
    <%= production.created_at %>
</td>


<td class="centrar">
<%= button_to production_path(production), method: :delete do %>
        <%= image_tag("iconos/borrar", class:"icon_accion") %>
    <% end %>
</td>
</tr>