
<main class="container">
<section class=" containerInfo">
        <h1 class=" containerInfo__titulo">Producción</h1>
        <a class=" containerInfo__boton" href="productions/new">nuevo</a>

</section>
<section>
    <table>
        <thead>
            <tr>
                <th>N.referencia</th>
            </tr>
        </thead>
        <tbody>
            
            <%= render @productions %>
        </tbody>

    </table>
</section>

</main>