
<tr>
  <td>
    <%= link_to  producto.referencia_pro, producto_url(producto) %>
  </td>
  <td id="o">
    <%= link_to  producto.nombre_pro, producto_url(producto) %>
  </td id="aw">
  <td>
    <%= link_to  producto.precio_pro, producto_url(producto) %>
  </td>    
</tr>