
<div class="izq">
    <table>
        <thead>
            <tr >
                <th class="odd" colspan="3 " >nombre del producto</th>
            </tr>
        </thead>
        <tbody>
            <%= render @productos%>
        </tbody>
    </table>
</div>

<a href="productos/new">Crear</a>
