
<main class="container">
<section class=" containerInfo">
        <h1 class=" containerInfo__titulo">Productos</h1>
        <a class=" containerInfo__boton" href="productos/new">nuevo</a>

</section>
<section>
    <table>
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre de los producto</th>
                <th>Precios</th>
            </tr>
        </thead>
        <tbody>
            <%= render @productos%>
        </tbody>
    </table>
</section>

</main>