<main> 
  <div class="panelContador">
    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/canasta", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Productos</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/flor", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Categoria</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/angulo_derecho", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Materia Prima</span>
      </div>
    </div>
  </div>
  <%# SEPARADOR %>

  <div class="panelRegistros">
    <div class="panelRegistros__elemento">
      Productos Más Vendidos
    </div>
    <div class="panelRegistros__elemento">
      Ultimás Ventas
    </div>
    <div class="panelRegistros__elemento">
      Añadidos Recientemente
      <table>
          <thead>
              <tr >
                  <th class="odd" colspan="3 " >Nombre de los producto</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <%= render @productos%>
            </tr>
          </tbody>
      </table>
    </div> 
  </div>
</main>